name: Code Quality
run-name: ${{ github.actor }} is checking code Quality
on: 
  pull request:
    branches:
      -main
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      -run:
       - uses: actions/checkout@v5

       - name: "Set up Python"
         uses: actions/setup-python@v6
         with:
          python-version-file: ".python-version"

       - name: Install uv
         uses: astral-sh/setup-uv@v7

       - name: Install the project
         run: uv sync --locked --all-extras --dev
         shell: bash

       - name: Run tests
         run: uv run pytest tests
         shell: bash
