name: ci

on:
   pull_request:
    branches:
      - main

jobs:
  code-safety:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      
      - name: Install the project
        run: uv sync --locked --all-extras --dev
        shell: bash
      
      - name: Check linter
        run: uv run ruff check app tests
        shell: bash
      
      - name: Check formatter
        run: uv run ruff format --check app tests
        shell: bash
      
      - name: Check type safety
        run: uv run mypy app
        shell: bash
      
      - name: Run unit tests
        run: uv run pytest tests
        shell: bash

  push-to-registry:
    needs: code-safety
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/app:${{ github.sha }}

  deploy:
    needs: push-to-registry
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        run: |
          curl -X POST "https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}"
